<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Workout</title>
    <script th:src="@{/htmx.min.js}" defer></script>

    <link rel="stylesheet" type="text/css" href="style.css" th:href="@{/style.css}">
</head>
<body>

<a href="/">Back</a>
<h1>Add Template</h1>
<form  hx-post="/template" class="mt-4">
    <div class="mb-4">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
</body>
</html>
