<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Liste</title>
    <link rel="stylesheet" type="text/css" href="style.css" th:href="@{/style.css}">
    <script th:src="@{/script.js}" defer></script>
    <script th:src="@{/htmx.min.js}" defer></script>
    <link rel="icon" href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Funiversal-web-mobile-5-8%2F65%2F236-512.png&f=1&nofb=1&ipt=8daeee15323d5a7df93645c1f89e24dfa5e24a2803bc5533cc59ce7e1c86300a&ipo=images">
</head>
<body>
<header><a href="/exercises">Exercises</a>  <a href="templates">Templates</a> </header>
<h1>Your latest Workouts</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>Action</th>
    </tr>
    <tr th:each="workout : ${workouts}" id="workouts">
        <div th:replace="workout :: workout(${workout})"></div>
    </tr>
</table>
<a href="add_workout">Add Workout</a>
</body>
</html>